.product-main
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 50px
    min-width: 0
    width: 80%
    margin: 50px auto 50px auto
    .wrapper
        max-width: 450px
        margin: 0 0 0 auto 
        height: 650px
        overflow: hidden
        .img_wrap
            width: 100%
            height: 550px
            overflow: hidden
            img
                height: 100%
                width: 100%
                object-fit: cover

    .info
        padding-top: 5%
        .mobile_fav_btn
            display: none
        .price
            margin: 40px 0
            font-size: 18px
            color: #444
        p
            color: #333333
            margin-bottom: 8px
            b
                font-size: 13px
                color: #000
        .title
            font-size: 20px
            font-weight: bold
            margin-bottom: 40px
        select
            border: 1px solid #00000050
            padding: 8px 35px 8px 8px
            margin-bottom: 10px
            background: transparent
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
            background-repeat: no-repeat
            background-position-x: 100%
            background-position-y: 3px
        .user_fav_btn
            width: 200px
            border-radius: 0
            border: none
            padding: 7px
            font-size: 12px
            letter-spacing: .5px
            cursor: pointer
            background: darken($light_gray, 3)
        .fav_btn_remove
            background: #dfdfdf50
        .add_to_cart-btn-wrap
            margin-top: 10px
            .btn 
                width: 200px
        .admin_btns
            display: flex
            flex-direction: column
            margin-top: 15px
            .admin_btn
                width: 25%
                text-align: center
                padding: 5px
                border: none
                background: orange
                font-weight: bold
                letter-spacing: 1px
                margin-top: 5px
                text-transform: uppercase
                cursor: pointer
                font-size: 11px
                color: #fff


@media (max-width: 1024px)
    .product-main
        grid-template-columns: repeat(1, 1fr)
        width: 100%
        grid-gap: 0
        .wrapper
            margin: 0 auto
        .info
            padding: 0 30%
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 30px
            .price
                margin-top: 0
            select 
                width: 100%
@media (max-width: 768px)
    .product-main
        .info
            padding: 0 10%
@media (max-width: 414px)
    .product-main
        margin-top: 0px
        padding: 5%
        .wrapper
            width: 100%
            height: auto
            margin-bottom: 20px
            .img_wrap
                height: 100%
        .info
            padding: 0
            display: block
            
            select
                font-size: 14px
            .add_to_cart-btn-wrap
                text-align: center
                margin-top: 0
                height: 100%
                margin-right: 10px
                .btn
                    width: auto
                    height: 100%
            .desk_fav_btn
                display: none
            .product_btns
                display: flex
                flex-direction: row-reverse
                justify-content: center
                align-items: center
                height: 45px
                .mobile_fav_btn
                    display: block
                    width: 45px
                    height: 100%
                    button
                        width: 100%
                        height: 100%
                        font-size: 20px
                        border: none
                        background: $light_gray
            .admin_btns
                .admin_btn
                    width: 100%
                    padding: 10px
    .slider .slick-arrow
        width: 30px
        height: 30px
    .add_product-main form
        grid-template-columns: 1fr
        width: 100%